[Desktop Entry]
Name=Expose

X-KDE-PluginInfo-Name=expose
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Email=phobian347@outlook.com
X-KDE-PluginInfo-License=CC BY-SA
