[Desktop Entry]
Name=Oregon-Coastline-reinterpretation
X-KDE-PluginInfo-Name=Oregon-Coastline-reinterpretation
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
